
<div >
    <button class="btn btn-primary mb-3" (click)="startTour()">Empezar Tour</button>

    <app-carousel [bdcWalkTriggerFor]="carouselStep1" ></app-carousel>

</div>



<bdc-walk-popup 
    #carouselStep1
    name="carouselStep1" 
    header="Carousel" 
    
    yPosition="above"
    sideNoteText="1/3"
    [showButton]="true" buttonText="Next" 
    
    [mustCompleted]="{ start:true }"
    
    
    
>
    Esto es un Carousel da click en  <b>Next</b> para continuar.
</bdc-walk-popup>
