<div class="card mt-5">

    <div class="card-body">
        <h1 class="card-title text-center">About</h1>
    </div>


    <p class="lead card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus aperiam impedit doloribus officiis ut,
        reprehenderit eligendi aspernatur natus, commodi maxime ducimus sed repellendus atque quas ullam enim officia
        aut reiciendis!
    </p>
    <p class="lead card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit rem soluta tempore alias? Esse illo ipsam illum
        perferendis sequi iste reiciendis aspernatur. Asperiores, exercitationem eveniet? Dolorem, fugit tenetur animi
        dignissimos soluta facere sint quod asperiores expedita voluptas laudantium quis aliquam? Vero minus voluptatem
        quis repudiandae! Tempore numquam aliquid error facere debitis expedita consequatur? Consectetur enim tenetur
        nesciunt facilis dicta neque nisi harum, quod doloribus culpa! Temporibus enim non ex. Aperiam minima sed beatae
        laborum ipsum? Alias libero exercitationem cum distinctio perferendis. Excepturi dolores illum nobis iste
        perferendis. Dignissimos ut quibusdam earum! Qui dolore temporibus cumque quod est, doloribus autem eius.
    </p>


</div>