<div class="card" style="width: 18rem;">
    <img [src]="card.img" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{card.title}}</h5>
        <p class="card-text"> {{ card.text }} </p>
        <a href="#" class="btn btn-primary">{{ card.btnTxt }} </a>
    </div>
</div>