<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tour</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="main" routerLinkActive="active">Main</a>
          </li>
          <li  class="nav-item">
            <a 
                class="nav-link" 
                routerLink="cards" 
                routerLinkActive="active" 
               
            >Cards</a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link" 
              routerLink="/about" 
              routerLinkActive="active"
             
              >About</a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>

  <bdc-walk-popup 
    #cards name="cards" 
    header="Click" 
    xPosition="after" 
    [showButton]="false" 
    buttonText="Let's start" 
    [closeOnClick]="false" 
    [mustCompleted]="{carouselStep1: true}" 
    [onButtonCompleteTask]="{example6showWalkthrough: true}"
    >
    Ve a cards para continuar
  </bdc-walk-popup>

  <bdc-walk-popup 
  #about 
  name="about" 
  header="Click" 
  xPosition="after" 
  [showButton]="false" 
  buttonText="Let's start" 
  [closeOnClick]="false" 
  [mustCompleted]="{cardStep4: true}" 
  [onButtonCompleteTask]="{example6showWalkthrough: true}"
  >
  Ver About para continuar
</bdc-walk-popup>

