<button class="btn btn-primary mb-3" (click)="startTour()">Empezar Tour</button>
<div class="row">

    <div class="col my-4">

        <app-card [bdcWalkTriggerFor]="cardStep1"  [card]="cards[0]" ></app-card>

    </div>
    <div class="col my-4">

        <app-card [bdcWalkTriggerFor]="cardStep2"  [card]="cards[1]" ></app-card>

    </div>
    <div class="col my-4">

        <app-card [bdcWalkTriggerFor]="cardStep3" [card]="cards[2]" ></app-card>

    </div>
    <div class="col my-4">

        <app-card  [bdcWalkTriggerFor]="cardStep4" [card]="cards[3]" ></app-card>

    </div>

</div>

<bdc-walk-popup 
    #cardStep1 
    name="cardStep1" 
    header="Card 1" 
    xPosition="after" 
    sideNoteText="1/3"
    [showButton]="true" 
    buttonText="Next" 
    [mustCompleted]="{startCardsTour: true}"
    [onButtonCompleteTask]="{cardNext: 1}"
    
    
>
    The next popup will only be displayed if you click <b>Next</b>.
</bdc-walk-popup>

<bdc-walk-popup 
    #cardStep2 
    name="cardStep2" 
    header="Card 2" 
    xPosition="after" 
    sideNoteText="1/3"
    [showButton]="true" buttonText="Next" [mustCompleted]="{cardNext: 1, startCardsTour: true}"
    [onButtonCompleteTask]="{cardNext: 2}"
    
>
    The next popup will only be displayed if you click <b>Next</b>.
</bdc-walk-popup>

<bdc-walk-popup 
    #cardStep3 
    name="cardStep3" 
    header="Card 3" 
    xPosition="after" 
    sideNoteText="1/3"
    [showButton]="true" buttonText="Next" [mustCompleted]="{cardNext: 2}"
    [onButtonCompleteTask]="{cardNext: 3}"
  
>
    The next popup will only be displayed if you click <b>Next</b>.
</bdc-walk-popup>

<bdc-walk-popup 
    #cardStep4 
    name="cardStep4" 
    header="Card 4" 
    xPosition="after" 
    sideNoteText="1/3"
     [mustCompleted]="{cardNext: 3}"
    (closed)="close()"
   
>
    The next popup will only be displayed if you click <b>Next</b>.
</bdc-walk-popup>



